* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(120deg, #002765, #2a8d89, #951d6d);
}

.text-container {
    max-width: 650px;
    width: 100%;
    padding: 30px;
    background: #ffffffde;
    border-radius: 10px;
}

div h1 {
    font-size: 35px;
    color: #5372F0;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper {
    border-radius: 5px;
    border: 2px solid #210e0e;
}

.wrapper .text-input {
    display: flex;
    border-bottom: 2px solid #261313;
}

.text-input .to-text {
    border-radius: 0px;
    border-left: 1px solid #261313;
}

.text-input textarea {
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: none;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}

.text-input textarea::placeholder {
    color: #210b0b67;
}

.controls,
li,
.icons,
.icons i {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    list-style: none;
    padding: 12px 15px;
}

.controls .row .icons {
    width: 40%;
}

.controls .row .icons i {
    width: 50px;
    color: #210e0e;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease;
    justify-content: center;
}

.controls .row .from .icons {
    padding-left: 15px;
    border-left: 1px solid #ccc;
}

.controls .row .to .icons {
    padding-left: 15px;
    border-left: 1px solid #ccc;
}

.controls .row select {
    color: #333;
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
    padding-left: 5px;
}

.text-input textarea::-webkit-scrollbar {
    width: 4px;
}

.controls .row select::-webkit-scrollbar {
    width: 8px;
}

.text-input textarea::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

.controls .row select::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
}

.controls .exchange {
    color: #361616;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease;
}

.controls i:active {
    transform: scale(0.9);
}

.text-container button {
    width: 25%;
    padding: 10px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    background: #5372F0;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 650px) {


    div h1 {
        font-size: 25px;
    }

    .text-container {
        background-color: white;
        border-radius: 0px;
    }

    .wrapper .text-input {
        flex-direction: column;
    }

    .text-input .to-text {
        border-left: 0px;
        border-top: 1px solid #261313;
    }

    .text-input textarea {
        height: 200px;
    }

    .text-container button {
        padding: 10px 20px;
        font-size: 16px;
        width: 50%
    }

    .controls .row .icons {
        display: none;
    }

    .controls .row select {
        font-size: 16px;
    }

    .controls .exchange {
        font-size: 14px;
    }

    .buttons {
        flex-direction: column;
    }

}

@media screen and (max-width: 450px) {}